table.syntaxTable i {
    color: #888;
}

code {
    color: #18BC9C;
    padding: 0;
    margin: 0;
    background: none;
}

#generatedOutput {
    font-family: consolas;
}

.tableOption {
    padding-top: 100px;
    padding-bottom: 100px;
}

i#copyOutput.fa.fa-clipboard {
    cursor: pointer;
    color: #2C3E50;
}

i#copyOutput.fa.fa-clipboard:hover {
    cursor: pointer;
    color: #fff;
}

span#copyOutputSpan {
    float:right;
}

span#copyOutputMessage {
    margin-right: 10px;
}